VITE_API_URL=http://localhost:8080/api

DATABASE_URL=jdbc:postgresql://aws-1-us-east-2.pooler.supabase.com:5432/postgres?sslmode=require
DATABASE_USERNAME=postgres.zujjwsoubgqcwdohuqhe
DATABASE_PASSWORD=sua_senha_do_supabase

SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key
SUPABASE_STORAGE_BUCKET=project-files
